a {
    color: white;
    /* text-decoration: none; */
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* Logo bank app */
#logoApp{
    text-align: center;
}

/* accordion - no space between Logo and panels */
#accordion {
    margin-top: 0px;
}


/* panel */
#collapse1 {
    height: 500px;
}

.panel > .panel-heading {
    background-color: #008742;
    color: white;
}

.container{
    max-width: 500px;
}

/* Balance divs */
#euro_balance_profile{
    width: 150px;
    max-width: 150px;
}

#stat_euro_balance{
    width: 350px;
    max-width: 340px;
}


#eurobalance{
    width: 150px;
}
