a {
    color: white;
    /* text-decoration: none; */
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* Logo bank app */
#logoApp{
    text-align: center;
}

/* accordion - no space between Logo and panels */
#accordion {
    margin-top: 0px;
}


/* panel */
#collapse1 {
    height: 300px;
}

.panel > .panel-heading {
    background-color: #008742;
    color: white;
}

.container{
    max-width: 500px;
}

/* Balance divs */
#euro_balance_profile{
    width: 150px;
    max-width: 150px;
    font-size: small;
}

span.bold{
    font:bold;
}

#stat_euro_balance{
    width: 350px;
    max-width: 340px;
}


#eurobalance{
    width: 150px;
    font: bold;
    color: green;
    font-size: large;
}

#crypto_table{
    margin-top: 0px;
}

#title_crypto_balance{
    font-weight: bold;
    font-size: large;
}

#euro_val{
    width: 100px;
} 

#stfc_val{
    width: 100px;
}

#separator_div_exchange{
    height: 3px;
    background: #008742;
}

.bold_words{
    font-weight: bold;
}

#modal_qrcode{
    margin-top: 20px;
    text-align: center;
}

#qrcode_modal{
    text-align: center;
}

.center_qrcode{
    text-align: center;
}

.modal-body > .modal-body{
    text-align: center;
}

#qrcode_button{
    margin-top: 10px;
    text-align: center;
}

#button_buy_exchange{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#badge1{
    width: 230px;
}

#badge2{
    width: 230px;
}

/* qrcode.html */

#collapseQrcode{
    height: 500px;
}

#food_chain{
    text-align: center;
    font-weight: bold;
    font-size: large;
}